{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Анализ ХГЧ</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <!-- Загаловок -->
    <div class="container">
      <h1>
        Загрузите фотографию анализов гормонов при беременности, выберите
        нейронную модель и получите срок беременности, применую дату зачатия.
        Можно ввести значение ХГЧ вручную.
      </h1>
    </div>

    <!-- Загрузка изображения -->
    <div class="container">
      <div class="upload-container">
        <input
          type="file"
          name="image"
          id="imageInput"
          accept="image/jpeg"
          style="display: none"
          onchange="uploadPhoto(event)"
        />
        <label for="imageInput" class="upload-button" id="uploadButton">
          <span id="uploadText"
            >Перетащите файл сюда или нажмите, чтобы просмотреть файловую
            систему</span
          >
          <img
            id="uploadedImage"
            style="display: none"
            alt="Загруженное изображение"
          />
        </label>
      </div>

      <!-- Ввод ХГЧ -->
      <div class="input-container">
        <label for="hcg-input">ХГЧ (мМЕ/мл):</label>
        <input
          type="number"
          id="hcg-input"
          name="hcg"
          step="0.01"
          min="0"
          placeholder="Значение ХГЧ"
        />
      </div>

      <!-- Radiobuttons -->
      <div class="radio-container">
        <label>
          <input
            type="radio"
            name="modelSize"
            value="small"
            id="smallModel"
            checked
          />
          Маленькая модель
        </label>
        <label>
          <input type="radio" name="modelSize" value="large" id="largeModel" />
          Большая модель
        </label>
      </div>

      <!-- Кнопка для проверки -->
      <div class="button-container">
        <button id="checkButton" disabled>Анализ</button>
      </div>

      <!-- Область для вывода результата -->
      <div class="result-container" id="resultContainer"></div>
    </div>

    <!-- Модальное окно -->
    <div id="hcgModal" class="modal">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <p>
          При заполнении данного поля не будет анализироваться изображение и
          использоваться нейросетевая модель.
        </p>
      </div>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
